In [165]:
import requests

In [166]:
from bs4 import BeautifulSoup

In [167]:
r=requests.get("http://www.dorothyperkins.com/en/dpuk/category/dresses-5699972/womens-dresses-5686813/N-ikdZc1y?No=0&Nrpp=20&siteId=%2F12552")

In [168]:
c=r.content

In [169]:
soup=BeautifulSoup(c,"html.parser")

In [170]:
s1=soup.find_all("div",{"class":"product"})

In [171]:
list1=list(s1[i].find("a",{"class":"product_name"}).text.replace("\n     ","").replace("\n\t","") for i in range(len(s1)))

In [172]:
list2=list(s1[i].find("span",{"class":"now"}).text.replace("Â£","") for i in range(len(s1)))

In [173]:
d={"dress":list1,"price":list2}

In [174]:
import pandas as pd

In [175]:
df=pd.DataFrame(d)

In [176]:
df['price']=pd.to_numeric(df['price'])

In [177]:
df['price']=df['price']*140.72

In [178]:
df.sort_values(by=['price'],ascending=False)

                                                dress     price
19         **Showcase Coral Chiffon 'Maya' Maxi Dress  10554.00
15   **Showcase Blue 'Sienna' Floral Print Maxi Dress   9850.40
18                    Striped Belted Hi Lo Midi Dress   6332.40
16                  Blue Crossover Striped Midi Dress   5910.24
9             Petite Multi Colured Striped Midi Dress   5910.24
1       **Tall Multi-Coloured Striped Midi Wrap Dress   5910.24
12                  Black Polka-Dot Print Shirt Dress   4925.20
2      Petite Multi-Coloured Striped Mini Shirt Dress   4925.20
17  **Billie & Blossom Navy Printed V-Neck Skater ...   4925.20
5                    Petite Yellow Floral Shirt Dress   4925.20
14                     Cream Floral Print Shift Dress   4925.20
0                 Leopard Print Roll Neck Shift Dress   4503.04
11                       Rust Aztec Print Shift Dress   4503.04
7     **Billie & Blossom Petite Mulberry Floral Dress   4503.04
10  **Billie & Blossom Petite Black Cherry Printed...   4503.04
13            Yellow Tortoiseshell Button Shift Dress   4221.60
3                  Grey Checked Sleevless Shift Dress   4080.88
8     *DP Beach Ivory Tasselled Tile-Print Midi Dress   3940.16
6                 Cobalt Blue Pleat Wrap Pencil Dress   3658.72
4                          Navy Striped Bodycon Dress   2532.96